build
.vscode/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile.in
src/flashdriver
stamp-h1
.deps/
.libs/
test/gtest
test/libgtest.la
*.o
.dirstamp
*.la
